.brand-container{
    text-align: center;
}
.brand-image{
    height:200px;
    border-radius: 50px;
    transition: all 1s;
}
.brand-image:hover{
    transform: scale(1.1);
}
.top-header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.intro-note{
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
}
.sign-button{
    height: 3rem;
    width: 6rem;
    border-radius: 4px;
    background-color:rgb(1, 1, 19);
    transition: all 1s;
}
.sign-button:hover{
    transform: scale(1.1);
}
.sign-container{
    text-align: center;
    padding-top: 50px;
}